<!DOCTYPE html>

<html>

    <head>

        <title>Dashboard</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='indes.js') }}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>
        
        {% with messages = get_flashed_messages(with_categories =true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger " role="alert">
                {{ message}}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        {%else%}
            <div class="alert alert-success " role="alert">
            {{ message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endif%}
        {% endfor %}
        {% endif %}
        {% endwith %}

 <!-- form with to subject and massage -->
    
        <div class="container">
    
                <h2>Compose Email</h2>
    
                <form action="/compose" method="post">
    
                    <div class="form-group">
    
                        <label for="to">To:</label>
    
                        <input type="text" class="form-control" id="to" placeholder="Enter To" name="inbox">   
                    </div>
                    <div class="form-group">
    
                        <label for="to">subject:</label>
    
                        <input type="text" class="form-control" id="to" placeholder="Enter To" name="subject">   
                    </div>
                    <div class="form-group form-control-lg">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                      <textarea name="note" id="massage" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>  
                    </div>
                    #add redio button for email category primary , social , promotion 
                    <div class="form-group">

                        <div class="form-check  form-check-inline">
                            <input class="form-check-input" type="radio" name="category" id="inlineRadio1" value="primary">
                            <label class="form-check" for="inlineRadio1">Primary</label>
                        </div>
                        <div class="form-checkn form-check-inline">
                            <input class="form-check" type="radio" name="category" id="inlineRadio2" value="social">
                            <label class="form-check " for="inlineRadio2">Social</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check " type="radio" name="category" id="inlineRadio3" value="promotion">
                            <label class="form-check " for="inlineRadio3">Promotion</label>
                    </div>
                        </div>
                        <br>
                        <br>
                        

                    

                    <button type="submit" class="btn btn-primary ">Send</button>
                </form>
                    
    </body>