
<html>
    <head>
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='indes.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </head>
    <body>
 
        {% with messages = get_flashed_messages(with_categories =true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger " role="alert">
                {{ message}}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        {%else%}
            <div class="alert alert-success " role="alert">
            {{ message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endif%}
        {% endfor %}
        {% endif %}
        {% endwith %}

    <div class="container bg-dark">
        <div class="row bg-success">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign in</h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST">

                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="text">  
                                </div>
                                <div class="form-group  ">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">    
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                                dont have an account? <a href="{{ url_for('auth.signup') }}">Register</a>
                            </fieldset>
                        </form>


                    </div>
                </div>
            </div>
        </div>


        
    </body>