<!DOCTYPE html> 
<html>  
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>

        
{% with messages = get_flashed_messages(with_categories =true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger " role="alert">
        {{ message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
{%else%}
    <div class="alert alert-success " role="alert">
    {{ message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
{% endif%}
{% endfor %}
{% endif %}
{% endwith %}
 

        <div class="container bg-dark">
            <div class="col-md-4 col-md-offset-4">
                    <div class="row bg-info">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please sign up</h3>
                        </div>
                        <div class="panel-body"> 
                            <form accept-charset="UTF-8" role="form" method="POST">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail you want " name="email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                   
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First Name" name="first_name" type="text" value="">

                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last Name" name="last_name" type="text" value="">

                                    </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Sign Up">

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>


</html>